## 1. Explain the dataset

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [17]:
data= pd.read_csv('Advertising.csv')

In [18]:
data.head()#The head() function is used to get the first n rows

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [19]:
data.info()#prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

insights:The dataset consist of 200 entries and 5 columns and it does not contain any null values

## 2. Check the summary statistics and discuss the max, min, avg, median,and percentiles.

In [20]:
data.describe()# used to view some basic statistical details like percentile, mean, std etc

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

insights:from the above dataset, maximum amount spent on advertisement was on TV and minimum was spent on radio|

## 3. The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings.

Independent variables are also termed as factor. For this experimental design, there is only  1 factor or independent variable to evaluate[Amount spent], and therefore, one-way ANOVA method is suitable for analysis.

Null Hypothesis:Same amount was spent on 3 advertisements

Alternate Hypothesis:Not the same amount was spent on all 3 advertisements

In [21]:
from scipy.stats import f_oneway

In [22]:
import scipy.stats as stats

In [23]:
fvalue, pvalue = stats.f_oneway(data['TV'], data['Radio'], data['Newspaper'])
print(fvalue, pvalue)

358.8514595342597 4.552931539744962e-103

insights:

The p value obtained from ANOVA analysis is significant (p < 0.05), and therefore, we conclude that there are significant differences among treatments.i.e Alternate Hypothesis Stands,which means different amount was spend on advertisements

Note on F value: F value is inversely related to p value and higher F value (greater than F critical value) indicates a significant p value.

Note:

From ANOVA analysis, we know that treatment differences are statistically significant, but ANOVA does not tell which treatments are significantly different from each other.

When the ANOVA is significant, post hoc tests are used to see differences between specific groups